.blog-header {
    display: flex;
    background-color: whitesmoke;
    border-bottom: 5px double #584f69;
    justify-content: space-between;
    align-items: center;
}

#blogPost {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.blog-post {
    border: 1px solid #584f69;
    padding: 10px;
    margin-top: 10px;
}